<form [formGroup]="formGroup">
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>
                    Name
                </mat-label>
                <input
                    matInput
                    formControlName="name"
                    />
            </mat-form-field>
        </div>
        <div fxFlex="20">
            <mat-form-field>
                <mat-label>
                    Stars
                </mat-label>
                <input
                    type="number"
                    matInput
                    formControlName="stars"
                    />
            </mat-form-field>
        </div>
        <div fxFlex="20">
            <mat-form-field>
                <mat-label>
                    Since
                </mat-label>
                <input
                    matInput
                    formControlName="since"
                    />
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <a mat-icon-button color="primary" (click)="deleteSkill()">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
</form>