<div fxLayout="row" class="top--header">
    <div fxFlex></div>
    <a mat-raised-button color="accent" (click)="deletePage()">
        Delete page
    </a>
    <a mat-raised-button color="primary" (click)="addProject()">
        Add project
    </a>
</div>
<form [formGroup]="formGroup">
    <div fxLayout="row">
        <div fxFlex="100">
            <mat-checkbox
                formControlName="aside">
                Aside
            </mat-checkbox>
        </div>
    </div>
    <app-project *ngFor="let project of projects" [formGroup]="project" (onDelete)="onDeleteProject(project)"></app-project>
</form>