:host {
    display: block;
    width: 100%;
    background: #848484;
    padding: 16px;
    border-radius: 9px;
    box-sizing: border-box;
}

.top--header {
    margin-bottom: 32px;

    
    a ~ a {
        margin-left: 32px;
    }
}

mat-form-field {
    display: block;
    width: 100%;
}
