<div fxLayout="row"  fxLayoutGap="16px">
    <div fxFlex="50">
        <div fxLayout="row" class="top--header">
            <h4 fxFlex>
                Left tables
            </h4>
            <button mat-raised-button color="primary" (click)="addSkillTable('left')">Add Skill Table</button>
        </div>
        <div *ngFor="let table of leftTables">
            <app-skill-table [formGroup]="table" (onDelete)="onDeleteSkillTable(table)" (onUpdate)="onUpdate()"></app-skill-table>
        </div>
    </div>
    <div fxFlex="50">
        <div fxLayout="row" class="top--header">
            <h4 fxFlex>
                Right tables
            </h4>
            <button mat-raised-button color="primary" (click)="addSkillTable('right')">Add Skill Table</button>
        </div>
        <div *ngFor="let table of rightTables">
            <app-skill-table [formGroup]="table" (onDelete)="onDeleteSkillTable(table)" (onUpdate)="onUpdate()"></app-skill-table>
        </div>
    </div>

</div>
   