<form [formGroup]="formGroup">
    <div fxLayout="row">
        <div fxFlex="100">
            <mat-checkbox
                formControlName="break_before"
            >
                Break before
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="row" class="top--header">
        <div fxFlex>
            <h3>
                Pages
            </h3>
        </div>
        <span>
            <a mat-raised-button color="primary" (click)="addPage()">
                Add page
            </a>
        </span>
    </div>
    <app-page *ngFor="let page of pages; let i = index;" [formGroup]="page" (onDelete)="onDeletePage(i)"></app-page>
</form>