<form [formGroup]="formGroup">
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                    matInput
                    formControlName="name" />
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input
                    matInput
                    formControlName="title" />
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>Birth date</mat-label>
                <input
                    matInput
                    formControlName="birthdate"
                    [matDatepicker]="datepicker"
                    />
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>
                    Residence
                </mat-label>
                <input
                    matInput
                    formControlName="residence"
                    />
            </mat-form-field>
        </div>
    </div>
</form>