:host {
    display: block;
    padding: 16px;
}

mat-form-field {
    display: block;
    width: 100%;
}

.top--header {
    margin-bottom: 32px;
}


.block {
    background: rgba(140, 140, 140, .32);
    padding: 16px;
    border-radius: 9px;
    margin-bottom: 32px;

    &__title {
        margin-top: 16px;
    }
}