<div fxLayout="row" class="top--header">
    <div fxFlex></div>
    <a mat-raised-button color="primary" (click)="addBlock()">
        Add block
    </a>
</div>
<div *ngFor="let block of blocks; let i = index;" class="block">
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="30" class="block__title">
            <mat-form-field>
                <mat-label>
                    Title
                </mat-label>
                <input
                    matInput
                    [formControl]="asFormControl(block.get('title'))"
                    />
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>Items</mat-label>
                <mat-chip-list #itemList>
                <mat-chip *ngFor="let item of items[i]" (removed)="removeFromBlock(i, item)">
                    {{ item }}
                    <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New item..."
                    [matChipInputFor]="itemList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    matChipInputAddOnBlur="false"
                    (matChipInputTokenEnd)="addToBlock(i, $event)">
                </mat-chip-list>
            </mat-form-field>
        </div>
        <div fxFlex="20">
            <a mat-icon-button (click)="deleteBlock(i)">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
</div>
   