<form [formGroup]="formGroup">
    <div fxLayout="row">
        <div fxFlex="100">
            <mat-form-field>
                <mat-label>
                    Introduction
                </mat-label>
                <textarea
                    matInput
                    formControlName="introduction"
                    rows="6"
                ></textarea>
            </mat-form-field>
        </div>
    </div>
</form>