<mat-stepper linear="true" #stepper>
    <mat-step [stepControl]="basicInfoFormGroup">
        <ng-template matStepLabel>Basic Info</ng-template>
        <app-basic-info [formGroup]="basicInfoFormGroup"></app-basic-info>
        <div fxLayout="row">
            <div fxFlex></div>
            <button mat-raised-button color="primary" [disabled]="basicInfoFormGroup.invalid" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="employeeFormGroup">
        <ng-template matStepLabel>Employee</ng-template>
        <app-employee [formGroup]="employeeFormGroup"></app-employee>
        <div fxLayout="row">
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <div fxFlex></div>
            <button mat-raised-button color="primary" matStepperNext [disabled]="employeeFormGroup.invalid">Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="blocksFormGroup">
        <ng-template matStepLabel>Blocks</ng-template>
        <app-blocks [formGroup]="blocksFormGroup"></app-blocks>
        <div fxLayout="row">
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <div fxFlex></div>
            <button mat-raised-button color="primary" matStepperNext [disabled]="blocksFormGroup.invalid">Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="skillsFormGroup">
        <ng-template matStepLabel>Technical Skills</ng-template>
        <app-skills [formGroup]="skillsFormGroup"></app-skills>
        <div fxLayout="row">
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <div fxFlex></div>
            <button mat-raised-button color="primary" matStepperNext [disabled]="blocksFormGroup.invalid">Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="projectHistoryFormGroup">
        <ng-template matStepLabel>Project History</ng-template>
        <app-project-history [formGroup]="projectHistoryFormGroup"></app-project-history>
        <div fxLayout="row">
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <div fxFlex></div>
        </div>
    </mat-step>
</mat-stepper>