:host {
    display: block;
    padding: 16px;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

mat-form-field {
    display: block;
    width: 100%;
}

mat-card {
    margin-bottom: 32px;
}

.skills__table {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 16px;
}