<mat-toolbar color="primary">
  <div fxFlex></div>
  <a mat-icon-button (click)="copyYaml()">
    <i class="material-icons">content_copy</i>
  </a>
</mat-toolbar>
<div fxLayout="row" class="container">
  <section [fxFlex]="editorFlex">
    <app-editor></app-editor>
  </section>
  <section fxFlex>
    <app-viewer></app-viewer>
  </section>
</div>