:host {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 9px;
    margin-bottom: 32px;
    background: #464646;
}

.top--header {
    margin-bottom: 32px;
}

mat-form-field {
    display: block;
    width: 100%;
}

