<form [formGroup]="formGroup">
    <div fxLayout="row" class="top--header">
        <div fxFlex></div>
        <a mat-icon-button color="primary" (click)="deleteProject()">
            <i class="material-icons">delete</i>
        </a>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="100">
            <mat-form-field>
                <mat-label>
                    Title
                </mat-label>
                <input
                    matInput
                    formControlName="title" />
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>
                    Period
                </mat-label>
                <input
                    matInput
                    formControlName="period" />
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>
                    Client
                </mat-label>
                <input
                    matInput
                    formControlName="client" />
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="100">
            <mat-form-field>
                <mat-label>
                    Description
                </mat-label>
                <textarea
                    matInput
                    formControlName="description"
                    rows="4"
                ></textarea>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="100">
            <mat-form-field>
                <mat-label>
                    Technologies
                </mat-label>
                <mat-chip-list #itemList>
                <mat-chip *ngFor="let item of technologies" (removed)="removeFromProject(item)">
                    {{ item }}
                    <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New item..."
                    [matChipInputFor]="itemList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    matChipInputAddOnBlur="false"
                    (matChipInputTokenEnd)="addToProject($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>
    </div>
</form>
