:host {
    display: block;
    margin-bottom: 16px;
}

.top--header {
    margin-bottom: 32px;
}

.skill-table {
    background: rgba(30, 30, 30, 0.92);
    border-radius: 9px;
    padding: 16px;

    input.title-input {
        color: #FFFFFF;
    }
}

mat-form-field {
    display: block;
    width: 100%;
}