
<div class="skill-table">
    <div fxLayout="row">
        <div fxFlex>
            <mat-form-field>
                <mat-label>
                    Title Code
                </mat-label>
                <input
                    matInput
                    [formControl]="titleCode"
                    class="title-input"
                    />
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <a mat-icon-button color="primary" (click)="deleteSkillTable()">
                <i class="material-icons">
                    delete
                </i>
            </a>
        </div>
    </div>
    <div class="skill-table__skills">
        <div fxLayout="row" class="top--header">
            <div fxFlex></div>
            <a mat-raised-button color="primary" (click)="addSkill()">
                Add skill
            </a>
        </div>
        <app-skill *ngFor="let skill of skills" [formGroup]="skill" (onDelete)="onDeleteSkill(skill)"></app-skill>
    </div>
</div>
