/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.CodeMirror {
    height: 100% !important;
}
